* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
}

canvas {
    border: 1px solid black;
    display: block;
    margin: auto;
    color: rgba(222, 221, 221, 0.319)
}