:root {
    /* pallet */
    ----clr-primary: #ff7f00;
    ----clr3: #000000;
    ----clr2: #7a7a7a;
    ----clr1: #e3e3e3;
    ----clr0: #ffffff;
    
    /* BP */
    --l: 1000px;
    --m: 800px;
    --s: 600px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* TYPOGRAPHY */
@font-face {
    font-family: Montserrat-Regular;
    src: url(fonts/montserrat/Montserrat-Regular.ttf);
}
@font-face {
    font-family: Montserrat-Bold;
    src: url(fonts/montserrat/Montserrat-Bold.ttf);
}
@font-face {
    font-family: Montserrat-Medium;
    src: url(fonts/montserrat/Montserrat-Medium.ttf);
}
@font-face {
    font-family: Montserrat-Thin;
    src: url(fonts/montserrat/Montserrat-Thin.ttf);
}


body {
    text-align: center;
}

/* HELPERS */

/* flex-helpers */
.flex {
    display: flex;
}

.flex.row {
    flex-direction: row;
}

.flex.space-between {
    justify-content: space-between;
}

.flex.align-center {
    align-items: center;
}

/* grid-helpers */
.grid {
    display: grid;
}

/* list helpers */
.clean-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

/* LAYOUT */

/* main-layout */
.main-layout {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-layout > * {
    width: 100%;
    margin-inline-start: auto;
    margin-inline-end: auto;
}

.main-layout > *:not(.full) {
    max-width: var(--l);
    width: 100%;
}

/* main-header */
.main-header-content {
    height: 10vh;
}

/* gallery-bar */
.gallery-bar-content {
    height: 15vh;
}

/* gallery-list */
.gallery-list {
    margin: 3vh 0;
}

/* editor-content */
.editor-content {
    margin: 3vh 0;
}

canvas {
    margin-inline-end: 70px;
}

/* about */
.about {
    height: 30vh;
}

/* main-footer */
.main-footer {
    height: 10.5vh;
}



/* COMPONENTS */

/* main-header */
.main-header {
    background-color: var(----clr-primary);
}

.main-header-content .logo {
    padding-block-start: 10px;
}

/* nav-links */
.nav-links a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh; /* this allows the a to be all the space */
    color: var(----clr0);
    font-family: Montserrat-Regular, sans-serif;
    font-size: 20px;
    text-decoration: none;
}

.nav-links span {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: var(----clr2);
    padding: 0 15px;
}

.nav-links a:hover {
    box-shadow: inset 0px -4px 0 var(----clr3);
    color: var(----clr3);
}

.img-globe {
    object-fit: cover;
    height: 100%;
    margin: auto;
    cursor: pointer;
    margin-inline-end: 30px;
}



.gallery-list {
    grid-template-columns: repeat(auto-fill, 150px);
    gap: 20px;
    grid-auto-rows: 150px;
}

.img-preview {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: transform .1s; 
}

.img-preview:hover {
    transform: scale(1.2);
}

canvas {
    border: 1px solid black;
    display: block;
    margin: auto;
}


/* util-helpers */
.hidden {
    display: none;
}